@font-face {
    font-family: 'Hachi Maru Pop';
    font-style: normal;
    font-weight: 400;
    src: url("./../lib/fonts/HachiMaruPop-Regular.ttf");
}

// -------------------------------------------- global styling
html {
	height:100%;
	overflow-y: scroll;
}

.g-base {
    height:100%;
	padding:0;
    margin:20px;
    background-color: #232323;
    font-family: 'Hachi Maru Pop', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
}

// ------------------------------------------- page / section styling
#p-main {
    height:100%;
    
    // overall page layout with CSS grid to center contents
    display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    & #caption {
        color: #99a0a7;
        padding-bottom:10px;
    }

    & #insult {
        margin-left:5px;
    }
}